
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color:  #050605;
    --secondary-color:  #fff2fd;
    --accent1-color: #eadcff;
    --accent2-color: #dcdfd1;

    --heading-font:'Open ',sans-serif;
    --paragraph-font:'Open sans',sans-serif;

    --nav-background-color: #83d3c3;
    --nav-link-color: #1f1a20;
    --nav-hover-link-color: #bfacaa;
    --nav-hover-background-color:#2654aa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    background-color: hsl(219, 59%, 65%);
    margin: 30px;
    align-items: center;
    padding: 10px;
}
a{
    color: hsl(0, 0%, 5%);
    font-size: 20px;
    
}
.logo img{
    height:100px;
    align-items: center;
    
}
nav a{
    font-weight: 1000;
    padding-right: 80px;
    background-color: #e1dcd8;
    border: 2px solid #333;
    gap: 50px;

}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: var(--secondary-color);
}
a {
    text-decoration: none;
}
body {
    max-width: 1200px;
    margin: 0 auto; /* Center content horizontally*/
}
.hero{
    position: relative;
    border:2px solid #333;
    margin: 30px;
}

h1 {
    position: absolute;  
    top: 70px; 
    left: 400px; 
    color: rgb(125, 12, 12); 
    font-size: 50px;
    color: #dcdfd1;
   
    width: 50%;
}

    
article  {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display:flex;
    top: 250px;
    left: 65px;
    width: 90%;
    text-align: center;
    

}  
article img{
    order:2;
    max-width: 20%;
}
.hero img{
    display: block;
    width: 100%;

}
section1 {
    display:grid;
    background-color:  hsl(219, 42%, 76%);
    height: 300px;
    padding: 20px;
    border: 2px solid #333;
    margin: 30px;
}
section1 p{
    color: #050605;
    
}
section1 h2{
    text-align: center;
    font-size: 40px;
}
section2{
    display: grid;
    background-color: hsl(219, 42%, 76%);
    place-items: center;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
    grid-template-rows: auto 1fr;
    text-align: center;
    margin: 30px;
    height: 300px;
    border: 2px solid #333;
   
}
section2 img{
    max-width: 150px;
    grid-row: 2;
    border: 2px solid #050605;

}
section2 h2{
    text-align: center;
    font-size: 40px;
    grid-column: 1/6;

}
footer{
    display:flex;
    gap: 200px;
    background-color: hsl(219, 59%, 65%);
    margin: 30px;
    border: 2px solid #333;
    justify-content: space-between;
    
}
footer img{
    width: 30px;


}
footer nav a{
    padding: 10px;
    margin: 7px;
    
    
}
footer p{
   padding: 10px;
   margin: 1px;
   color: #050605;
   

}